<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Heart Rate Monitoring System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <style>
    body {
      /* background-image: url("https://i.pinimg.com/originals/0e/8f/93/0e8f9366cb396a13485588c267750ddd.gif"); */
      padding: 2%;
      background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--_MCEk7P6--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/i/vm957e5dm3hxnwc94dd7.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      color: aliceblue;
    }

    #bpm-h1 {
      zoom: 2;
    }

    .div-cards {
      padding: 3%;
      color: rgba(0, 0, 0, 0.571);
      background-color: rgba(255, 255, 255, 0.804);
      border-radius: 30px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin: 2%;
    }

    footer {
      color: rgba(240, 234, 234, 0.893);
      position: absolute;
      font-size: 1.2rem;
      text-align: center;
      bottom: 0;
      width: 100%;
      height: 50px;
      line-height: 50px;
    }

    #display {
      overflow: scroll;
      height: 500px;
      width: 100%;
      text-align: left;
      padding-left: 20px;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    #display::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    #display {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }

    #logout-button {
      color: aliceblue;
      position: absolute;
      top: 40px;
      right: 50px;
    }

    #logout-button:hover {
      text-decoration: none;
    }

    .heartBeatIcon {
      animation: blink 1s linear infinite;
    }

    @keyframes blink {
      0% {
        opacity: 0;
      }

      50% {
        opacity: .5;
      }

      100% {
        opacity: 1;
      }
    }
  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="https://kit.fontawesome.com/f95fbf7eb5.js" crossorigin="anonymous"></script>
</head>


<body>
  <a id="logout-button" href="/logout"><i class="fas fa-sign-out-alt fa-2x"></i></a>
  <h1 style="margin-left: 30px;">Heart Rate Monitoring System</h1>
  <br>
  <div class="row" style="padding: 10px;">
    <div class="col-lg-7">
      <div class="div-cards">
        <canvas id="myChart"></canvas>
      </div>
      <br>
      <div class="div-cards">

        <div class="form-group row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Consulting Doctor</label>
          <div class="col-sm-8">
            <input name="doctorEmail" style="border-radius: 30px;" type="email" class="form-control" id="doctorEmail"
              value="<%= doctor %>" disabled>
          </div>
          <div class="col-sm-1">
            <button id="editDoctor" class="btn btn-sm btn-dark"
              style="border-radius: 30px;margin-top: 2px;padding: 9px;">
              <i class="fas fa-edit"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-3" style="text-align: center;">
      <div id="bpm-div" class="div-cards" style="padding: 4%;">
        <br>
        <h1>BPM</h1>
        <br>
        <h1 id="bpm-h1">-</h1>
        <br>
        <p id="bpm-state"><em>Place your finger on the sensor</em></p> <!-- bpm status message -->
        <br>

      </div>
      <br>
      <div id="bpm-warning" style="display: none; border-radius: 30px;" class="alert alert-danger" role="alert">
        Your BPM is abnormal!
      </div>
    </div>

    <div class="col-lg-2" style="text-align: center;">
      <div id="display" style="overflow: scroll; height: 500px;width: 100%;" class="div-cards"></div>
      <br>
      <button class="btn btn-sm btn-dark" style="width: 80%; border-radius: 30px;" onclick="clearlog()">
        Clear Logs
      </button>
    </div>

  </div>

  <!-- doctor email change script -->
  <script>
    var doctorEditButton = document.getElementById("editDoctor");
    var doctorEmailInput = document.getElementById("doctorEmail");
    doctorEditButton.onclick = () => {
      if (doctorEmailInput.disabled) {
        doctorEmailInput.disabled = false;
        doctorEditButton.innerHTML = `<i class="fas fa-check"></i>`;
      } else {
        $.ajax({
          url: "changeDoctor",
          type: "POST",
          data: { doctorEmail: doctorEmailInput.value },
          success: function () {
            alert("Doctor email updated successfully!")
            doctorEmailInput.disabled = true;
            doctorEditButton.innerHTML = `<i class="fas fa-edit"></i>`;
          },
        });
      }
    };
  </script>

  <!-- chart js -->
  <script>
    const labels = [];

    const data = {
      labels: labels,
      datasets: [{
        label: 'Signal',
        borderColor: 'rgb(255, 99, 132)',
        data: [],
        fill: false,
      }]
    };

    const config = {
      type: 'line',
      data: data,

      options: {
        responsive: true,
        elements: {
          point: {
            radius: 0
          }
        },
        plugins: {
          title: {
            display: true,
            text: 'Min and Max Settings'
          }
        },
        scales: {
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'No. of beats'
            }
          }],
          yAxes: [{
            ticks: {
              min: 40,
              max: 150,
              stepSize: 10
            },
            scaleLabel: {
              display: true,
              labelString: 'BPM'
            }
          }]
        }
      },

    };

    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    function addData(chart, label, data) {
      chart.data.labels.push(label);

      chart.data.datasets[0].data.push(data);

      if (chart.data.datasets[0].data.length > 10) {
        chart.data.datasets[0].data.shift();
        labels.shift();
      }

      chart.update();
    }
  </script>

  <script>
    //var sock =new WebSocket("ws://localhost:5001");
    var sock = new WebSocket("ws://192.168.43.173:3000");
    var display = document.getElementById("display");
    var bpmDiv = document.getElementById("bpm-h1");
    var bpmState = document.getElementById("bpm-state");
    var beatCount = 0;
    // var bpmwarning = document.getElementById("bpm-warning");

    sock.onopen = function (event) {
      display.innerHTML += "connection succeeded <br />";
    };

    sock.onmessage = function (event) {
      console.log(event.data); //show received from server data in console of browser
      display.innerHTML = event.data + "<br />" + display.innerHTML; //add incoming message from server to the log screen previous string + new string(message)
      // updateChart(parseInt(event.data));
      if (event.data.charAt(0) === 'A') {  // average BPM 
        bpmDiv.innerHTML = parseInt(event.data.substring(1, event.data.length));
        //alert()
      }
      else if (event.data.charAt(0) === 'S') { // finger status
        if (event.data.charAt(1) === '2') {
          bpmState.innerHTML = "<em>Please place your finger on the sensor</em>";
        }
        else if (event.data.charAt(1) === '3') {
          bpmState.innerHTML = `<i class="fas fa-heartbeat fa-2x heartBeatIcon"></i>`;
        }
      }
      else if (event.data.charAt(0) === 'W') {
        $("#bpm-warning").fadeIn();
        setTimeout(function () {
          $("#bpm-warning").fadeOut();
        }, 7000);

      }
      else { // bpm values to be plotted in chart
        beatCount += 1;
        addData(myChart, beatCount.toString(), parseInt(event.data));
      }

    };
    function clearlog() {
      display.innerHTML = "";
    }


  </script>

</body>

</html>